* {
    box-sizing: border-box;
}

body {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
}

header, footer, nav,main {
    border: 1px solid black;
    text-align: center;
    padding: 16px;
    background-color: lime;
}

header {
    width: 100%;
}

nav {
    width:25%;
    min-height: 600px;
}

.container {
    min-height: 600px;
    width: 75%;
}

main {
    min-height: 500px;
}

footer {
    min-height: 100px;
}